<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<h1>Welcome to the Game Collection App!</h1>

<a href="{% url 'addGame' %}">Add Game</a>
<br>
<a href="{% url 'logout'%}">Log Out</a>

{% for game in allGames %}
<p>
    <p>Name: {{ game.name }}</p>
    <br>
    <p>Developer: {{ game.developer }}</p>
    <br>
    <p>Release Date: {{ game.dateMade }}</p>
    <br>
    <p>Age Limit: {{ game.ageLimit }}</p>
</p>

{% endfor %}

</body>
</html>